/* 
PRE VYCENTROVANIE + TREBA ZMAZAŤ <center> V KÓDE
*/

/* Vycentrovanie nadpisov sekcií */
.section-title {
    display: block;
    /* Zabezpečí, že sa správa ako blok */
    margin: 0 auto 40px;
    /* Automatické okraje zľava a sprava vycentrujú prvok */
    text-align: center;
    /* Vycentruje text vo vnútri */
    width: fit-content;
    /* Šírka sa prispôsobí len textu, aby margin: auto fungoval */
}

/* Vycentrovanie všetkých tabuliek na stránke */
table.roster,
table.roster-info {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /* Voliteľné: krajší vzhľad tabuľky */
}


/* 
MAIN STYLE
*/

:root {
    --avs-burgundy: #6F263D;
    --avs-blue: #236192;
    --avs-silver: #A2AAAD;
    --black: #000000;
    --dark-gray: #1a1a1a;
    --white: #ffffff;
}

.text-burgundy {
    color: var(--avs-burgundy);
    font-weight: bold;
    /* Voliteľné: zvýrazní farbu hrúbkou písma */
    text-shadow: 3px 4px 4px #A2AAAD, -3px -4px 4px #A2AAAD;
}

.text-blue {
    color: var(--avs-blue);
    font-weight: bold;
    /* Voliteľné: zvýrazní farbu hrúbkou písma */
    text-shadow: 2px 2px 5px #A2AAAD, -3px -4px 4px #A2AAAD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-explore {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 35px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--white);
    border: 2px solid var(--avs-burgundy);
    background: rgba(0, 0, 0, 0.4);
    /* Jemne tmavé pozadie pre lepšiu čitateľnosť */
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-explore:hover {
    background: var(--avs-burgundy);
    color: var(--white);
    transform: translateY(-3px);
    /* Jemný pohyb hore pri hoveri */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* HEADER & NAV */
header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--avs-burgundy);
}

#logo {
    height: 80px;
    margin: auto 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('img/main/colorado.webp') no-repeat;
    background-size: 98px 80px;
    align-items: center;
}

#logo>* {
    margin: 0 0 0 100px;
}


#logo h1 {
    font-size: 1.2rem;
}

#logo h1 span {
    color: var(--avs-blue);
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: 0.4s;
}

nav ul a:hover {
    color: var(--avs-blue);
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--hero-image) no-repeat;
    background-position: center center;
    background-size: cover;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); */
    z-index: -1;
}

.hero-content h1 {
    font-size: 5rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--avs-silver);
}

/* SECTIONS GENERAL */
section {
    padding: 80px 10%;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 3px solid var(--avs-burgundy);
    display: inline-block;
    padding-bottom: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

/* PARALLAX */
.parallax {
    height: 500px;
    /* Použijeme premennú --bg-image, ktorú doplníme v HTML */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parallax-small {
    height: 200px;
    /* Použijeme premennú --bg-image, ktorú doplníme v HTML */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parallax-big {
    height: 700px;
    /* Použijeme premennú --bg-image, ktorú doplníme v HTML */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parallax-contact {
    height: 200px;
    /* Použijeme premennú --bg-image, ktorú doplníme v HTML */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* HISTORY CARDS */
.history-box {
    background: var(--dark-gray);
    padding: 30px;
    border-left: 5px solid var(--avs-blue);
    margin-bottom: 20px;
}

.history-box h3 {
    color: var(--avs-silver);
    margin-bottom: 15px;
}

/* ACHIEVEMENTS STATS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}

.stat-card {
    background: linear-gradient(145deg, var(--avs-burgundy), #4a1a29);
    padding: 40px;
    border-radius: 10px;
}

.stat-card h2 {
    font-size: 3rem;
}


/* ROSTER TABLE */
.roster {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}

.roster th,
.roster td {
    padding: 10px 12px;
    border: 0px solid #ddd;
    text-align: left;
    vertical-align: middle;
}

.roster thead {
    background-color: var(--avs-burgundy);
    color: white;
}

.roster tbody tr:nth-child(even) {
    background-color: #000000;
}

.roster tbody tr:hover {
    background-color: var(--avs-blue);
}

.roster-info {
    padding: 200px 200px 200px 200px;
}


/* GALLERY */
.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.gallery img {
    width: 200px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.gallery img:hover {
    transform: scale(1.1);
    border-color: var(--avs-blue);
}

/* RETIRED NUMBERS */
.retired-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.number-circle {
    width: 80px;
    height: 80px;
    border: 3px solid var(--avs-silver);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 1.5rem;
}

footer {
    padding: 40px;
    text-align: center;
    background: #0a0a0a;
    font-size: 0.8rem;
    color: #666;
}

footer a {
    color: var(--avs-blue);
    text-decoration: none;
}

footer a:hover {
    color: var(--avs-burgundy);
    text-decoration: none;
}

.top-page {
    color: var(--avs-blue);
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

/* PLAYERS CARDS */
.players-section {
    padding: 100px 10%;
    text-align: center;
}

.players-section h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.player-card {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.player-card:hover {
    transform: scale(1.05);
    border: 3px solid var(--avs-blue);
}

.player-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    text-align: left;
}


/* GAME */
/* GAME */
/* GAME */

.game-container {
    text-align: center;
}

.stats {
    font-size: 24px;
    margin-bottom: 15px;
    background: #2E5991;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #ffffff;
}

canvas {
    background-color: #ffffff;
    background-image: radial-gradient(circle, #e0f7fa 1px, transparent 1px);
    background-size: 20px 20px;
    border: 6px solid #333;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1024px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }
    .parallax, .parallax-small {
        /* Vypne fixnú pozíciu na tabletoch a mobiloch */
        background-attachment: scroll;
        /* Voliteľné: Ak by obrazovka bola príliš malá, vycentrujeme obraz */
        background-position: center center;
    }
}

/* FLIP CARD */
/* FLIP CARD */
/* FLIP CARD */


.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer; 
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
    padding: 10px;
}

.flip-card-front {
    background-color: var(--avs-burgundy)
}

.flip-card-back {
    background-color: #2E5991;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


/* MATCHES */
/* MATCHES */
/* MATCHES */

